---
import { IHeroProps } from "@types";
import { Debug } from 'astro/components';

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <p class="dark:text-light mt-[117px]">Hai, Aku</p>
  <h1>{name}</h1>
  <p class="dark:text-light text-lg mb-16">
    <Fragment set:html={about}/>
  </p>
</section>